@charset "utf-8";

* {
    box-sizing: border-box;
 }
 
body {
    margin: 0;
    padding: 0;
    font-family: "ヒラギノ角ゴ Pro W3", sans-serif;
    background-color: #e6e6e6;
}

/* layout */

.global-layout__main-header {
    width: 100%;
    padding: 30px 4% 10px;
    border-bottom: 0.1rem solid #4b4b4b;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}

.global-layout__main-header-spacing {
    padding: 100px 0px 0px;
    color: #4b4b4b;
}

.global-layout__main-body {
    align-items: center;
}

.global-layout__main-footer-spacing {
    padding: 10px 0px 0px;
    color: #4b4b4b;
}

.global-layout__main-footer {
    width: 100%;
    padding: 20px 4% 20px;
    border-top: 0.1rem solid #4b4b4b;
    border-bottom: 0.1rem solid #4b4b4b;
    display: flex;
    align-items: center;
}

/* block */

/* header */
.main-header__title {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.main-header__title-link {
    text-decoration: none;
    color: #4b4b4b;
}

.main-header__nav {
    margin: 0 0 0 auto
}

.main-header__nav-list {
    list-style: none;
    display: flex;
}

.main-header__nav-content {
    margin: 0 0 0 15px;
    font-size: 20px;
}

.main-header__nav-link {
    text-decoration: none;
    color: #4b4b4b;
}

/* main body */
.main-body-content-block {
    list-style: none;
    display: flex;
    margin: 20px 20% 40px;
    width: 80%;
}

.main-body-content-block__title {
    margin: 0 10px 0 0;
    font-size: 35px;
    width: 40%;
}

.main-body-content-block__content {
    font-size: 20px;
    margin: 10px 0 0 5px;
    padding: 0;
    width: 40%
}

/* footer */
.main-footer__title {
    padding: 0;
    margin: 0 auto 0;
    font-size: 18px;
}
